nib-java-demo-apps/cics-webservices/src/main/resources/xsd/AccountInfo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.soap.webservices.online.sample.org" elementFormDefault="qualified">

    <xs:element name="AccountInfoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AccountInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="middleName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="dateOfBirth" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element name="state" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="active" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>